<ion-view>
    <ion-nav-title>
        <img src="Paatashala.png" style="height:100%;">
        <div style="vertical-align: top;display:inline">Enquiry Details</div>
    </ion-nav-title>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                <strong>  Student Info</strong>
            </div>
            <div class="row">
                <a class="col">
                    <label class="item item-input">
                        <input type="text" placeholder="First Name*" ng-model="data.FirstName">
                    </label>
                </a>
                <a class="col">
                    <label class="item item-input">
                        <input type="text" placeholder="Last Name" ng-model="data.LastName">
                    </label>
                </a>
            </div>
            <div>
                <label class="item item-input">
                    <span> <label>D O B* : &nbsp;</label>  </span>
                    <input type="text" ng-model="data.DateOfBirth" placeholder="Date" ng-click="setDateTime()">
                </label>
            </div>
            <br />
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Gender
                    </div>
                    <select ng-model="data.Sex" ng-change="dropvalueChange()" ng-init="dropdown.value='--Select--'">
                        <!--<option value="--Select--" selected>--Select--</option>-->
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </label>
            </div>
            <div>
                <label class="item item-input">
                    <textarea placeholder="Address" ng-model="data.Address"></textarea>
                </label>
            </div>
        </div>
        <div class="item item-divider">
            <strong>  Parents Info</strong>
        </div>
        <div class="row">
            <a class="col">
                <label class="item item-input">
                    <input type="text" placeholder="Father's Name*" ng-model="data.FatherName">
                </label>
            </a>
            <a class="col">
                <label class="item item-input">
                    <input type="text" placeholder="Mother's Name*" ng-model="data.MotherName">
                </label>
            </a>
        </div>
        <div class="row">
            <a class="col">
                <label class="item item-input">
                    <input type="text" placeholder="Contact*" ng-model="data.FatherContactNo">
                </label>
            </a>
            <a class="col">
                <label class="item item-input">
                    <input type="text" placeholder="Contact*" ng-model="data.MotherContactNo">
                </label>
            </a>
        </div>
        <div class="row">
            <a class="col">
                <label class="item item-input">
                    <input type="email" placeholder="Email-id" ng-model="data.FatherEmail">
                </label>
            </a>
            <a class="col">
                <label class="item item-input">
                    <input type="email" placeholder="Email-id" ng-model="data.MotherEmail">
                </label>
            </a>
        </div>
        <div class="item item-divider">
            <strong>Academic Details</strong>
        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input item-select" style="margin-top: 14px;">
                    <label class="input-label">
                        Stream
                    </label>
                    <select ng-model="reg.Stream" ng-options="r.Id as r.Name for r in Streamlist"></select>
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-select" style="margin-top: 14px;">
                    <label class="input-label">
                        Batch
                    </label>
                    <select ng-model="reg.Batch" ng-options="r.Id as r.Name for r in Batchlist"></select>
                </label>
            </div>   
        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input item-select" style="margin-top: 14px;">
                    <label class="input-label">
                        Course
                    </label>
                    <select ng-model="reg.Course" ng-options="r.Id as r.Name for r in CourseList"></select>
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-select" style="margin-top: 14px;">
                    <label class="input-label">
                        Other Programs
                    </label>
                    <select ng-model="reg.OtherPrograms" ng-options="r.Id as r.Name for r in OtherProgramList"></select>
                </label>
            </div>
            </div>
            <br />
            <div class="item item-divider">
                <strong>Lead Details</strong>
            </div>

            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Channel
                    </div>
                    <select ng-model="lead.Channel" ng-change="dropvalueChange()" ng-init="dropdown.value='--Select--'">
                        <!--<option value="--Select--" selected>--Select--</option>-->
                        <option value="Telephone">Telephone</option>
                        <option value="Reference">Reference</option>
                        <option value="Direct">Direct</option>
                        <option value="Ads">Ads</option>
                        <option value="On-Line">On-Line</option>
                        <option value="News Paper Add">News Paper Add</option>>
                    </select>
                </label>
            </div>
            <div class="col">
                <label class="item item-input">
                    <span> <label> FollowUp Date: &nbsp;</label>  </span>
                    <!--<p> FollowUp Date :&nbsp; </p>-->
                    <input type="text" ng-model="lead.FollowupTime" placeholder="Date" ng-click="setDateTime1()">
                </label>
            </div>
                <div class="col">
                    <label class="item item-input item-select" style="margin-top: 14px;">
                        <label class="input-label">
                            Admission status
                        </label>
                        <select ng-model="reg.AdmissionStatus" ng-options="r.Id as r.Name for r in AdmissionStatuslist"></select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-select" style="margin-top: 14px;">
                        <label class="input-label">
                            Assign to
                        </label>
                        <select ng-model="lead.AssignTo" ng-options="r.Id as r.Name for r in EmployeeList"></select>
                    </label>
                </div>
            <button class="button button-block button-positive" ng-click="LeadFormsubmit(data,reg,lead)">
                Submit
            </button>
</ion-content>
</ion-view>