<ion-view>

    <ion-content>
        <button class="button button-block button-positive" ng-click="getGeolocation()">
            geolocation
        </button>
        <!--<button id="geolocation" ng-click="getGeolocation()" style="width:100px; height: 30px;"> geolocation</button>-->
        <div>
            <label class="item item-input item-select">
                <label class="input-label">
                    RouteCode
                </label>
             
                <select ng-model="data.code"  ng-options="r.Id as r.RouteCode for r in Routes">
                  
                </select>
            </label>
            <div id="map" data-tap-disabled="true"></div>    
        </div>
        
    </ion-content>

</ion-view>