<ion-view>
    <ion-nav-title>
        <img src="Paatashala.png" style="height:100%;">
        <div style="vertical-align: top;display:inline"> Enquiry Details</div>
    </ion-nav-title>
    <ion-content>
        <!--<div class="list">-->
        <div class="item item-divider">
            <strong>Academic Details</strong>
        </div>
        <!--</div>-->

        <div class="row">
            <div class="col">
                <label class="item item-input item-select" style="margin-top: 14px;">
                    <label class="input-label">
                        Batch
                    </label>
                    <select ng-model="selected.Batch" ng-options="r.Id as r.Name for r in Batchlist"></select>
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-select" style="margin-top: 14px;">
                    <label class="input-label">
                        Stream
                    </label>
                    <select ng-model="selected.Stream" ng-options="r.Id as r.Name for r in Streamlist"></select>
                </label>
            </div>
        </div>

        <div class="col">
            <label class="item item-input item-select" style="margin-top: 14px;">
                <label class="input-label">
                    Course
                </label>
                <select ng-model="selected.Course" ng-options="r.Id as r.Name for r in CourseList"></select>
            </label>
        </div>
        <br />
        <!--<div class="list">-->
        <div class="item item-divider">
            <strong>Lead Details</strong>
        </div>
        <!--</div>-->

        <div class="col">
            <label class="item item-input item-select" style="margin-top: 14px;">
                <label class="input-label">
                    Channel
                </label>
                <select ng-model="selected.Channel" ng-options="r.Id as r.Name for r in Channellist"></select>
            </label>
        </div>
        <div class="col">
            <!--<ion-item>-->
            <label class="item item-input">
                <p> FollowUp Date :&nbsp; </p>
                <input type="text" ng-model="FormattedDate" placeholder="Date" ng-click="setDateTime()">
            </label>
            <!--</ion-item>-->
        </div>
        <!--<ion-item>-->
        <label class="item item-input">
            <p>Creation Date : &nbsp; </p>
            <input type="text" ng-model="FormattedDate" placeholder="Date" ng-click="setDateTime()">
        </label>
        <!--</ion-item>-->
        <div class="row">
            <div class="col">
                <label class="item item-input item-select" style="margin-top: 14px;">
                    <label class="input-label">
                        Admission status
                    </label>
                    <select ng-model="selected.AdmissionStatus" ng-options="r.Id as r.Name for r in AdmissionStatuslist"></select>
                </label>
            </div>
            <div class="col">
                <label class="item item-input item-select" style="margin-top: 14px;">
                    <label class="input-label">
                        Assign to
                    </label>
                    <select ng-model="selected.Employee" ng-options="r.Id as r.Name for r in EmployeeList"></select>
                </label>
            </div>
        </div>
        <button class="button button-block button-positive" ng-click="submit()">
            Submit
        </button>
    </ion-content>
</ion-view>