<ion-view>
<div class="bar bar-header bar-positive">
    <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/templates/view-parent-home.html"></a>
    <h1 class="title"><strong> Holidays </strong></h1>
</div>
<ion-content style="margin-top: 44px;   margin-bottom: 48px;">

    <div style="margin-top: 8px; margin-left: 17px;">
        <div class="row">
            <div class="col" style="font-size:20px;">Date</div>
            <div class="col" style="font-size:20px;">Holiday</div>
        </div>
        <div class="row" ng-repeat="s in HolidayDetail.HolidaysList">
            <div class="col" style="padding-right:4px;">{{ s.Date|date: "yyyy-MM-dd"}} </div>
            <div class="col" style="padding-right:4px;">{{s.Name}}</div>
        </div>
  
    </div>
</ion-content>
</ion-view>