<ion-view>
    <ion-nav-title>
        <img src="Paatashala.png" style="height:100%;">
        <div style="vertical-align: top;display:inline"> Holidays Details</div>
    </ion-nav-title>
    <ion-content class="padding">
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-left">Date</th>
                    <th class="text-left">Holiday</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <tr ng-repeat="s in HolidayDetail.Holidays">
                    <td class="text-left">{{ s.Date|date: "dd MMM yyyy"}}</td>
                    <td class="text-left">{{s.Name}}</td>
                </tr>
            </tbody>
        </table>
    </ion-content>
</ion-view>
<link href="../../css/custom-table.css" rel="stylesheet" />