<ion-view>
    <div class="bar bar-header bar-positive">
        <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/templates/view-parent-home.html"></a>
        <h1 class="title"><strong> Personal Details </strong></h1>
    </div>
    <ion-content style="margin-top: 44px;   margin-bottom: 48px;">
        <div class="row">
            <div class="col" style="font-size:18px;">Name</div>
            <div class="col" style="padding-right:9px;"> {{PersonalDetail.Name}}</div>
        </div>
        <div class="row">
            <div class="col" style="font-size:18px;">School Name</div>
            <div class="col" style="padding-right:9px;">{{PersonalDetail.OrgName}}</div>
        </div>
        <div class="row">
            <div class="col" style="font-size:18px;">RegistrationNo</div>
            <div class="col" style="padding-right:9px;">{{PersonalDetail.RegistrationNo}}</div>
        </div>
        <div class="row">
            <div class="col" style="font-size:18px;">Batch</div>
            <div class="col" style="padding-right:9px;"> {{PersonalDetail.Batch}}</div>
        </div>
        <div class="row">
            <div class="col" style="font-size:18px;">Course</div>
            <div class="col" style="padding-right:9px;">{{PersonalDetail.Course}}</div>
        </div>
        <div class="row">
            <div class="col" style="font-size:18px;">Section</div>
            <div class="col" style="padding-right:9px;">{{PersonalDetail.Section}}</div>
        </div>
        <!--<div style="margin-top: 8px; margin-left: 17px;">
            <div class="row">
                <div class="col" style="padding-right:4px;">Name</div>
                <div class="col" style="font-size:20px;"><input type="text" ng-model="PersonalDetail.Name" disabled /></div>
            </div>
            <div class="row">
                <div class="col" style="padding-right:4px;">School Name</div>
                <div class="col" style="padding-right:4px;"><input type="text" ng-model="PersonalDetail.OrgName" disabled/></div>
            </div>
            <div class="row">
                <div class="col" style="padding-right:4px;">Register Number</div>
                <div class="col" style="padding-right:4px;"><input type="text" ng-model="PersonalDetail.RegistrationNo" disabled /></div>
            </div>
            <div class="row">
                <div class="col" style="padding-right:4px;">Batch</div>
                <div class="col" style="padding-right:4px;"><input type="text" ng-model="PersonalDetail.Batch" disabled /></div>
            </div>
            <div class="row">
                <div class="col" style="padding-right:4px;">Course</div>
                <div class="col" style="padding-right:4px;"><input type="text" ng-model="PersonalDetail.Course" disabled/></div>
            </div>
            <div class="row">
            <div class="col" style="padding-right:4px;">Section</div>
            <div class="col" style="padding-right:4px;"><input type="text" ng-model="PersonalDetail.Section" disabled/></div>
            </div>
        </div>-->


    </ion-content>
</ion-view>