<ion-view>
    <ion-content>
        <div class="bar bar-header bar-royal">
            <h1 class="title">Forget Password</h1>
              <form name="forgetPassword"  style="margin-top: 205px;">
                <label class="item item-input" style="width:182%;">
                   <input name="email" type="email" placeholder="Email" ng-model="email" required>
                        <span style="color:red;" ng-show="forgetPassword.email.$dirty && forgetPassword.email.$invalid ">
                            <span ng-show="forgetPassword.email.$error.required">Email id is required</span>  
                            <span ng-show="forgetPassword.email.$error.invalid">email is invalid</span>  
                        </span>
                    
                </label>
                <button style="right: -90px; margin-top: 23px;width: 148px; border-radius: 10px;" class="button button-positive" 
                        ng-disabled="forgetPassword.email.$dirty && forgetPassword.email.$invalid" ng-click="submitEmail()">
                    Submit
                </button>
             
               </form> 
           
        </div>
    </ion-content>
</ion-view>