<ion-view>
    <div class="bar bar-header bar-positive">
        <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/templates/view-parent-home.html"></a>
        <h1 class="title"><strong> Personal Details </strong></h1>
    </div>
    <ion-nav-title>
        Personal Details
    </ion-nav-title>
    <!--<ion-content style="margin-top: 44px;   margin-bottom: 48px;">
        <div class="row">
            <div class="col" style="font-size:18px;">Name</div>
            <div class="col" style="padding-right:9px;"> {{PersonalDetail.Name}}</div>
        </div>
        <div class="row">
            <div class="col" style="font-size:18px;">School Name</div>
            <div class="col" style="padding-right:9px;">{{PersonalDetail.OrgName}}</div>
        </div>
        <div class="row">
            <div class="col" style="font-size:18px;">RegistrationNo</div>
            <div class="col" style="padding-right:9px;">{{PersonalDetail.RegistrationNo}}</div>
        </div>
        <div class="row">
            <div class="col" style="font-size:18px;">Batch</div>
            <div class="col" style="padding-right:9px;"> {{PersonalDetail.Batch}}</div>
        </div>
        <div class="row">
            <div class="col" style="font-size:18px;">Course</div>
            <div class="col" style="padding-right:9px;">{{PersonalDetail.Course}}</div>
        </div>
        <div class="row">
            <div class="col" style="font-size:18px;">Section</div>
            <div class="col" style="padding-right:9px;">{{PersonalDetail.Section}}</div>
        </div>
    </ion-content>-->
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <img src="images/babyphoto.jpg">
                <p>Name : <b>{{PersonalDetail.Details.Name}}</b></p>
                <p>School Name: <b>{{PersonalDetail.Details.OrgName}}</b></p>
                <p>Reg No: <b>{{PersonalDetail.Details.RegistrationCode}}</b></p>
                <p>Batch: <b>{{PersonalDetail.Details.Batch}}</b></p>
                <p>Course: <b>{{PersonalDetail.Details.Course}}</b></p>
            </div>
        </div>
    </ion-content>
</ion-view>