<ion-view>
    <ion-nav-title>
        <img src="Paatashala.png" style="height:100%;">
        <div style="vertical-align: top;display:inline">Employee</div>
    </ion-nav-title>
    <ion-content class="padding has-header">
        <div class="list">
            <a class="item item-icon-left" href="{{page.Href}}" ng-repeat="page in Pages">
                <i class="icon {{page.Icon}}"></i>
                {{page.Name}}
            </a>
        </div>
    </ion-content>
</ion-view>
<style>
    .icon {
        color: #387ef5;
    }
</style>