<ion-view>
    <ion-nav-title>
        Home
    </ion-nav-title>
    <ion-content class="padding has-header">
        <div class="list">
            <a class="item item-icon-left" href="{{page.Href}}" ng-repeat="page in Pages">
                <i class="icon {{page.Icon}}"></i>
                {{page.Name}}
            </a>
        </div>
        <div class="list">
            <div class="item item-divider">
                Manage
            </div>
            <a class="item item-icon-left" href="#/setting">
                <i class="icon ion-android-settings"></i>
                Settings
            </a>
            <a class="item item-icon-left" href="#/change-student">
                <i class="icon ion-social-octocat"></i>
                Change Student
            </a>
        </div>
    </ion-content>
</ion-view>
