<ion-view>
    <ion-nav-title>
        <img src="Paatashala.png" style="height:100%;">
        <div style="vertical-align: top;display:inline"> Message Box</div>
    </ion-nav-title>

    <div class="bar bar-header bar-positive">
        <h1 class="title"><strong> Message Box</strong></h1>
    </div>
    <ion-content>
        <ion-refresher on-refresh="doRefresh()">
            Pull to refresh
        </ion-refresher>
        <ion-spinner icon="bubbles" class="spinner-balanced"></ion-spinner>
        <div class="list">
            <a class="item item-icon-left item-text-wrap" ng-click="showMessage(s)" ng-repeat="s in MessageContents">
                <i class="icon ion-android-mail"></i>
                <span>{{s.Contents}}</span>
                <span class="item-note">
                    {{s.CreatedOn}}
                </span>
            </a>
            <a class="item item-icon-left item-text-wrap" ng-click="loadMessages()">
                <span>Load older messages</span>
            </a>
        </div>
    </ion-content>
</ion-view>
<!--<link href="../../css/custom-table.css" rel="stylesheet" />-->
<style>
    .rwd-table {
        background: #34495E;
        color: #fff;
        border-radius: .4em;
        overflow: hidden;
    }

        .rwd-table tr {
            border-color: gold;
        }

        .rwd-table th, td {
            margin: .5em 1em;
        }

            .rwd-table th, td:before {
                color: #dd5;
            }
</style>