<ion-view>
    <div class="bar bar-header bar-positive">
        <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/templates/view-parent-home.html"></a>
        <h1 class="title">Home Work</h1>
        <button class="button ion-android-more-vertical" style="margin-left: 281px;" ng-click="showPopUp()"></button>
    </div>
    <ion-content style="margin-top: 44px;   margin-bottom: 48px;">
        <div style="margin-top: 8px;margin-left:5px; ">
            <div class="row">
                <div class="col" style="font-size:20px;width: 5px;">Assignment  Name</div>
                <div class="col" style="font-size:20px;width: 5px;">SubjectName</div>
                <div class="col" style="font-size:20px;width: 5px;">Date</div>
                <div class="col" style="font-size:20px;">Question</div>
            </div>
            <div class="row" ng-repeat="s in HomeworkDetail.assignmentsList">
                <div class="col" style="padding-right:4px;">  {{s.AssignmentName}}</div> 
                <div class="col" style="padding-right:4px;">  {{s.SubjectName}}</div> 
                <div class="col" style="padding-right:4px;">  {{s.Date | date: "yyyy-MM-dd"}}</div>
                <div class="col" style="padding-right:4px;">  {{s.Question}}</div>
            </div>
     
        </div>
   
    </ion-content>
</ion-view>