<ion-view>
    <ion-nav-title>
        Examination Details
    </ion-nav-title>
    <ion-content style="margin-top: 5px;   margin-bottom: 48px;">

        <div style="margin-top: 8px; margin-left : -6px;">
            <div class="row">
                <div class="col" style="font-size:14px;"><strong>ExamType</strong></div>
                <div class="col" style="font-size:14px;"><strong>SubjectName</strong></div>
                <div class="col" style="font-size:14px;"><strong>ExamDate</strong></div>
                <div class="col" style="font-size:14px;"><strong>Duration</strong></div>
                <div class="col" style="font-size:14px;"><strong>Starttime</strong></div>
            </div>
            <div class="row" style="margin-left : -21px;" ng-repeat="s in examinationDetail.ExamDetails">
                <div class="col" style="margin-left: 21px;margin-right: 14px;">{{s.Name}}</div>
                <div class="col" style="margin-left: 14px;margin-right: 14px;">{{s.SubjectName}}</div>
                <div class="col" style="margin-left: 7px;margin-right: 37px;">{{s.Date | date: "yyyy-MM-dd"}}</div>
                <div class="col"style="margin-left: -18px;margin-right: -16px;">{{s.Duration|limitTo:5}}</div>
                <div class="col" style="margin-left: 20px;margin-right: -29px;">{{s.Starttime|limitTo:5 }}</div>
            </div>
        </div>
    </ion-content>
</ion-view>